# Analysing Tartu Smart Bike usage data 2019-2021

In [1]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [2]:
data2019 = pd.read_csv("2019.csv", sep=',', header=0)
print("2019: ",data2019.shape)
data2020 = pd.read_csv("2020.csv", sep=',', header=0)
print("2020: ",data2020.shape)
data2021 = pd.read_csv("2021.csv", sep=',', header=0)
print("2021: ",data2021.shape)

2019:  (742559, 12)
2020:  (874032, 12)
2021:  (85004, 12)

In [9]:
#data2019 = data2019.drop(columns=['startstationserialnumber','endstationserialnumber'])
# Eemalda peatused.
data2019 = data2019.drop(data2019[(data2019.startstationname == 'Warehouse') | (data2019.endstationname == 'Warehouse')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == 'Lauluväljak') | (data2019.endstationname == 'Lauluväljak')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == 'SPARK Demo') | (data2019.endstationname == 'SPARK Demo')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == 'Töökoda') | (data2019.endstationname == 'Töökoda')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "Tour d'ÖÖ") | (data2019.endstationname == "Tour d'ÖÖ")].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "-- Määramata --") | (data2019.endstationname == "-- Määramata --")].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "Metallica parkla") | (data2019.endstationname == "Metallica parkla")].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "Undetermined") | (data2019.endstationname == "Undetermined")].index)
# Eemalda sõidud alla 50m.
data2019 = data2019.drop(data2019[data2019['length'] < 0.05].index)
# Eemalda sõidud pikkusega 0m.
data2019 = data2019.drop(data2019[data2019.length == 0].index)

#data2019[['yearOfBirth', 'first3IdNumber']] - vali mitu tulpa korraga

data2019['first3IdNumber'] = data2019['first3IdNumber'].fillna("NaN")
# Määra sünniaasta andmetüübiks 'sõne'.
data2019['yearOfBirth'] = data2019['yearOfBirth'].astype(str)
# Eemalda sünniaasta lõpust '.0'.
#data2019['yearOfBirth'] = data2019['yearOfBirth'].str[:-2]
data2019['yearOfBirth'] = data2019['yearOfBirth'].replace('n', '000')



# Eemalda ID-kaardi numbrid, mille pikkus on lühem kui 3.
data2019 = data2019.drop(data2019[data2019['first3IdNumber'].str.len() != 3].index)
# Eemalda ID-kaardi numbrid, mis ei kuulu massiivi kaardi esimese numbri põhjal.
synNr = ['N','1','2','3','4','5','6']
data2019 = data2019.drop(data2019[~data2019['first3IdNumber'].str[0].isin(synNr)].index)
# Eemalda üksik kirje
data2019 = data2019.drop(data2019[data2019['first3IdNumber'] == '3ü1'].index)

# ID-kaardi põhjal sünniaasta genereerimine
data2019.loc[((data2019['first3IdNumber'].str[0] == '1') | (data2019['first3IdNumber'].str[0] == '2')) & (data2019['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('18' + data2019['first3IdNumber'].str[1:])
data2019.loc[((data2019['first3IdNumber'].str[0] == '3') | (data2019['first3IdNumber'].str[0] == '4')) & (data2019['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('19' + data2019['first3IdNumber'].str[1:])
data2019.loc[((data2019['first3IdNumber'].str[0] == '5') | (data2019['first3IdNumber'].str[0] == '6')) & (data2019['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('20' + data2019['first3IdNumber'].str[1:])

# Sünniaasta ja ID-kaardi numbrid ei kattu
data2019[['yearOfBirth', 'first3IdNumber']].loc[(data2019['yearOfBirth'].str[2:4] != data2019['first3IdNumber'].str[1:]) & ((data2019['yearOfBirth'].str[:3] != '000') & (data2019['first3IdNumber'] != 'NaN'))]
# Sünniaasta puudub, ID-kaart olemas
#data2019[['yearOfBirth', 'first3IdNumber']].loc[(data2019['yearOfBirth'].str[:3] == '000') & (data2019['first3IdNumber'] != 'NaN')]

       yearOfBirth first3IdNumber
147           1984            509
162           2000            509
239           1977            378
242           1961            460
297           2004            503
...            ...            ...
742341        1961            460
742351        1961            460
742425        2004            506
742441        2002            394
742519        2004            507

[20480 rows x 2 columns]

In [10]:
#data2020 = data2020.drop(columns=['startstationserialnumber','endstationserialnumber'])
data2020 = data2020.drop(data2020[(data2020.startstationname == '-- Määramata --') | (data2020.endstationname == '-- Määramata --')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Rahu 8') | (data2020.endstationname == 'Rahu 8')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'SPARK Demo') | (data2020.endstationname == 'SPARK Demo')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Töökoda') | (data2020.endstationname == 'Töökoda')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Undetermined') | (data2020.endstationname == 'Undetermined')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Ihaste Päev') | (data2020.endstationname == 'Ihaste Päev')].index)
data2020 = data2020.drop(data2020[data2020['length'] < 0.05].index)
data2020 = data2020.drop(data2020[data2020.length == 0].index)

data2020['first3IdNumber'] = data2020['first3IdNumber'].fillna("NaN")
# Määra sünniaasta andmetüübiks 'sõne'.
data2020['yearOfBirth'] = data2020['yearOfBirth'].astype(str)
# Eemalda sünniaasta lõpust '.0'.
#data2020['yearOfBirth'] = data2020['yearOfBirth'].str[:-2]
data2020['yearOfBirth'] = data2020['yearOfBirth'].replace('n', '000')

# Eemalda ID-kaardi numbrid, mille pikkus on lühem kui 3.
data2020 = data2020.drop(data2020[data2020['first3IdNumber'].str.len() != 3].index)
# Eemalda ID-kaardi numbrid, mis ei kuulu massiivi kaardi esimese numbri põhjal.
synNr = ['N','1','2','3','4','5','6']
data2020 = data2020.drop(data2020[~data2020['first3IdNumber'].str[0].isin(synNr)].index)

data2020.loc[((data2020['first3IdNumber'].str[0] == '1') | (data2020['first3IdNumber'].str[0] == '2')),'yearOfBirth'] = ('18' + data2020['first3IdNumber'].str[1:])
data2020.loc[((data2020['first3IdNumber'].str[0] == '3') | (data2020['first3IdNumber'].str[0] == '4')),'yearOfBirth'] = ('19' + data2020['first3IdNumber'].str[1:])
data2020.loc[((data2020['first3IdNumber'].str[0] == '5') | (data2020['first3IdNumber'].str[0] == '6')),'yearOfBirth'] = ('20' + data2020['first3IdNumber'].str[1:])

# Sünniaasta ja ID-kaardi numbrid ei kattu
data2020[['yearOfBirth', 'first3IdNumber']].loc[(data2020['yearOfBirth'].str[2:4] != data2020['first3IdNumber'].str[1:]) & ((data2020['yearOfBirth'].str[:3] != '000') & (data2020['first3IdNumber'] != 'NaN'))]
# Sünniaasta puudub, ID-kaart olemas
#data2020[['yearOfBirth', 'first3IdNumber']].loc[(data2020['yearOfBirth'].str[:3] == '000') & (data2020['first3IdNumber'] != 'NaN')]

#data2020[['yearOfBirth', 'first3IdNumber']]
#data2020['first3IdNumber'].unique()

       yearOfBirth first3IdNumber
6             1997            396
103           1961            460
141           1971            505
149           1961            460
184           2004            506
...            ...            ...
873076        2004            505
873151        1989            390
873684        1982            381
873713        1982            381
873980        2000            502

[20652 rows x 2 columns]

In [8]:
#data2021 = data2021.drop(columns=['startstationserialnumber','endstationserialnumber'])
data2021 = data2021.drop(data2021[(data2021.startstationname == 'SPARK Demo') | (data2021.endstationname == 'SPARK Demo')].index)
data2021 = data2021.drop(data2021[(data2021.startstationname == '-- Määramata --') | (data2021.endstationname == '-- Määramata --')].index)
data2021 = data2021.drop(data2021[(data2021.startstationname == 'Töökoda') | (data2021.endstationname == 'Töökoda')].index)
data2021 = data2021.drop(data2021[(data2021.startstationname == 'Undetermined') | (data2021.endstationname == 'Undetermined')].index)
data2021 = data2021.drop(data2021[data2021['length'] < 0.05].index)
data2021 = data2021.drop(data2021[data2021.length == 0].index)

data2021['first3IdNumber'] = data2021['first3IdNumber'].fillna("NaN")
# Määra sünniaasta andmetüübiks 'sõne'.
data2021['yearOfBirth'] = data2021['yearOfBirth'].astype(str)
# Eemalda sünniaasta lõpust '.0'.
#data2021['yearOfBirth'] = data2021['yearOfBirth'].str[:-2]
data2021['yearOfBirth'] = data2021['yearOfBirth'].replace('n', '000')

# Eemalda ID-kaardi numbrid, mille pikkus on lühem kui 3.
data2021 = data2021.drop(data2021[data2021['first3IdNumber'].str.len() != 3].index)
# Eemalda ID-kaardi numbrid, mis ei kuulu massiivi kaardi esimese numbri põhjal.
synNr = ['N','1','2','3','4','5','6']
data2021 = data2021.drop(data2021[~data2021['first3IdNumber'].str[0].isin(synNr)].index)

data2021.loc[((data2021['first3IdNumber'].str[0] == '1') | (data2021['first3IdNumber'].str[0] == '2')) & (data2021['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('18' + data2021['first3IdNumber'].str[1:])
data2021.loc[((data2021['first3IdNumber'].str[0] == '3') | (data2021['first3IdNumber'].str[0] == '4')) & (data2021['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('19' + data2021['first3IdNumber'].str[1:])
data2021.loc[((data2021['first3IdNumber'].str[0] == '5') | (data2021['first3IdNumber'].str[0] == '6')) & (data2021['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('20' + data2021['first3IdNumber'].str[1:])

# Sünniaasta ja ID-kaardi numbrid ei kattu
data2021[['yearOfBirth', 'first3IdNumber']].loc[(data2021['yearOfBirth'].str[2:4] != data2021['first3IdNumber'].str[1:]) & ((data2021['yearOfBirth'].str[:3] != '000') & (data2021['first3IdNumber'] != 'NaN'))]
# Sünniaasta puudub, ID-kaart olemas
#data2021[['yearOfBirth', 'first3IdNumber']].loc[(data2021['yearOfBirth'].str[:3] == '000') & (data2021['first3IdNumber'] != 'NaN')]

#data2021[['yearOfBirth', 'first3IdNumber']]
#data2021['first3IdNumber'].unique()

      yearOfBirth first3IdNumber
64           2004            505
113          1982            381
127          2001            503
258          2000            503
295          1982            381
...           ...            ...
84894        1980            505
84896        2002            504
84972        1997            507
84974        1997            507
84985        2000            502

[1669 rows x 2 columns]

In [6]:
andmed19end = dict(data2019['endstationname'].value_counts())
andmed19sta = dict(data2019['startstationname'].value_counts())

andmed21end = dict(data2021['endstationname'].value_counts())
andmed21end

andmed20end = dict(data2020['endstationname'].value_counts())
andmed21end
# for i in andmed:
#     print(andmed[i])

{'Uueturu': 3700,
 'Soola': 2869,
 'Turusild': 2231,
 'Vabadussild': 2096,
 'Eeden': 1968,
 'Annelinna kiir': 1955,
 'Annelinna keskus': 1844,
 'Raatuse': 1747,
 'Pirogovi plats': 1739,
 'Tarmeko': 1702,
 'Anne saun': 1517,
 'Aleksandri': 1475,
 'Rahu': 1455,
 'Veeriku': 1451,
 'Raudteejaam': 1416,
 'Annelinn': 1415,
 'Sõbra': 1364,
 'Pargi': 1286,
 'Kalda tee': 1274,
 'Kaunase puiestee': 1257,
 'Aparaaditehas': 1210,
 'Kannikese': 1207,
 'Papli': 1205,
 'Karete': 1194,
 'Delta': 1176,
 'Roosi': 1174,
 'Vanemuise park': 1165,
 'Ülejõe park': 1164,
 'Kopli': 1149,
 'Raatuse kool': 1105,
 'Kuu': 1070,
 'Näituse': 1065,
 'Rüütli': 1030,
 'Põhja puiestee': 1008,
 'Sõpruse sild': 999,
 'Mõisavahe': 989,
 'Magistri': 988,
 'Riiamäe': 969,
 'Aura veekeskus': 968,
 'W. Ostwaldi': 959,
 'Lõunakeskus': 941,
 'Tähtvere spordipark': 914,
 'Põllu': 877,
 'K. E. von Baeri': 848,
 'Torni': 832,
 'ERM': 825,
 'Orava': 791,
 'Vahi': 729,
 'Tamme puiestee': 720,
 'TÜ raamatukogu': 709,
 'J. Hurda': 700,
 'Raja': 674,
 'AHHAA': 664,
 'Kivilinna': 646,
 'Ihaste': 644,
 'Maarjamõisa': 632,
 'Tamme kool': 625,
 'Tamme gümnaasium': 588,
 'Sepa turg': 586,
 'Annelinna gümnaasium': 574,
 'Viie tee rist': 568,
 'Kaare': 551,
 'Ihaste Coop': 542,
 'Tulbi': 529,
 'Kaupmehe': 519,
 'E-Kaubamaja': 473,
 'Ränilinn': 466,
 'Postimaja': 465,
 'Tamme staadion': 436,
 'EMÜ spordihoone': 400,
 'Pallase': 400,
 'Ringtee': 326,
 'Kvissentali': 288,
 'Ujula': 273,
 'Lossi': 249,
 'Märja': 225,
 'Hipodroomi': 155,
 'Tartu Maja': 153,
 'Jakobsoni': 147,
 'Tervise': 55,
 'Ilmatsalu': 46,
 'Rahinge': 24}

In [7]:
# Faili salvestamine

data2019.to_csv('data19cha.csv', index=False)
data2020.to_csv('data20cha.csv', index=False)
data2021.to_csv('data21cha.csv', index=False)