# Analysing Tartu Smart Bike usage data 2019-2021
Aleksander Tamm, Martin Vendelin, Otto Jõeleht

In [1]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
data2019 = pd.read_csv("2019.csv", sep=',', header=0)
data2020 = pd.read_csv("2020.csv", sep=',', header=0)
data2021 = pd.read_csv("2021.csv", sep=',', header=0)
dokid= ...

FileNotFoundError: [Errno 2] No such file or directory: '2019.csv'

In [103]:
#andmete puhastus valedest dokkidest ja lühikestest sõitudest

data2019 = data2019.drop(data2019[(data2019.startstationname == 'Warehouse') | (data2019.endstationname == 'Warehouse')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == 'Lauluväljak') | (data2019.endstationname == 'Lauluväljak')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == 'SPARK Demo') | (data2019.endstationname == 'SPARK Demo')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == 'Töökoda') | (data2019.endstationname == 'Töökoda')].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "Tour d'ÖÖ") | (data2019.endstationname == "Tour d'ÖÖ")].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "-- Määramata --") | (data2019.endstationname == "-- Määramata --")].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "Metallica parkla") | (data2019.endstationname == "Metallica parkla")].index)
data2019 = data2019.drop(data2019[(data2019.startstationname == "Undetermined") | (data2019.endstationname == "Undetermined")].index)
data2019 = data2019.drop(data2019[data2019['length'] < 0.05].index)
data2019 = data2019.drop(data2019[data2019.length == 0].index)

data2020 = data2020.drop(data2020[(data2020.startstationname == '-- Määramata --') | (data2020.endstationname == '-- Määramata --')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Rahu 8') | (data2020.endstationname == 'Rahu 8')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'SPARK Demo') | (data2020.endstationname == 'SPARK Demo')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Töökoda') | (data2020.endstationname == 'Töökoda')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Undetermined') | (data2020.endstationname == 'Undetermined')].index)
data2020 = data2020.drop(data2020[(data2020.startstationname == 'Ihaste Päev') | (data2020.endstationname == 'Ihaste Päev')].index)
data2020 = data2020.drop(data2020[data2020['length'] < 0.05].index)
data2020 = data2020.drop(data2020[data2020.length == 0].index)

data2021 = data2021.drop(data2021[(data2021.startstationname == 'SPARK Demo') | (data2021.endstationname == 'SPARK Demo')].index)
data2021 = data2021.drop(data2021[(data2021.startstationname == '-- Määramata --') | (data2021.endstationname == '-- Määramata --')].index)
data2021 = data2021.drop(data2021[(data2021.startstationname == 'Töökoda') | (data2021.endstationname == 'Töökoda')].index)
data2021 = data2021.drop(data2021[(data2021.startstationname == 'Undetermined') | (data2021.endstationname == 'Undetermined')].index)
data2021 = data2021.drop(data2021[data2021['length'] < 0.05].index)
data2021 = data2021.drop(data2021[data2021.length == 0].index)

In [118]:
#andmed 1te tabelisse

kogudata= data2019.append(data2020.append(data2021))
kogudata['unlocktime'] = kogudata.apply(lambda row: row.unlockedat.strip() +"/"+ row.unlockedattime.strip(), axis=1)
kogudata['locktime'] = kogudata.apply(lambda row: row.lockedat.strip() +"/"+ row.lockedattime.strip(), axis=1)
kogudata=kogudata.drop(columns=["startstationserialnumber","endstationserialnumber","unlockedat","unlockedattime","lockedat","lockedattime"])
kogudata['unlocktime']  = pd.to_datetime(kogudata['unlocktime'] ,errors='coerce', format="%Y-%m-%d/%H:%M:%S")
kogudata['locktime']  = pd.to_datetime(kogudata['locktime'] ,errors='coerce', format="%Y-%m-%d/%H:%M:%S")

In [119]:
print(kogudata.shape)

kogudata['first3IdNumber'] = kogudata['first3IdNumber'].fillna("NaN")
# Määra sünniaasta andmetüübiks 'sõne'.
kogudata['yearOfBirth'] = kogudata['yearOfBirth'].astype(str)
# Eemalda sünniaasta lõpust '.0'.
kogudata['yearOfBirth'] = kogudata['yearOfBirth'].str[:-2]
kogudata['yearOfBirth'] = kogudata['yearOfBirth'].replace('n', '000')
# Eemalda ID-kaardi numbrid, mille pikkus on lühem kui 3.
kogudata = kogudata.drop(kogudata[kogudata['first3IdNumber'].str.len() != 3].index)
# Eemalda ID-kaardi numbrid, mis ei kuulu massiivi kaardi esimese numbri põhjal.
synNr = ['N','1','2','3','4','5','6']
kogudata = kogudata.drop(kogudata[~kogudata['first3IdNumber'].str[0].isin(synNr)].index)
# Eemalda üksik kirje
kogudata = kogudata.drop(kogudata[kogudata['first3IdNumber'] == '3ü1'].index)
# ID-kaardi põhjal sünniaasta genereerimine

#----------- andis erroreid!!!!!!!!!!
#kogudata.loc[((kogudata['first3IdNumber'].str[0] == '1') | (kogudata['first3IdNumber'].str[0] == '2')) & (kogudata['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('18' + kogudata['first3IdNumber'].str[1:])
#kogudata.loc[((kogudata['first3IdNumber'].str[0] == '3') | (kogudata['first3IdNumber'].str[0] == '4')) & (kogudata['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('19' + kogudata['first3IdNumber'].str[1:])
#kogudata.loc[((kogudata['first3IdNumber'].str[0] == '5') | (kogudata['first3IdNumber'].str[0] == '6')) & (kogudata['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('20' + kogudata['first3IdNumber'].str[1:])
#kiirete sõitude välistamine
kogudata = kogudata.loc[(kogudata["length"]/((kogudata["locktime"]-kogudata["unlocktime"]).dt.total_seconds() / 3600))<35]

#x[['yearOfBirth', 'first3IdNumber']].loc[(x['yearOfBirth'].str[2:4] != x['first3IdNumber'].str[1:]) & ((x['yearOfBirth'].str[:3] != '000') & (x['first3IdNumber'] != 'NaN'))]
print(kogudata.shape)
kogudata

(1590733, 8)
(1572056, 8)

,cyclenumber,startstationname,endstationname,length,yearOfBirth,first3IdNumber,unlocktime,locktime
3,2421.0,Pirogovi plats,Pirogovi plats,0.96,000,NaN,2019-06-03 12:47:10,2019-06-03 12:53:28
5,2290.0,Pirogovi plats,Lossi,1.53,1995,395,2019-06-03 12:55:24,2019-06-03 13:06:37
8,2416.0,Pirogovi plats,Pirogovi plats,18.62,000,NaN,2019-06-03 12:59:21,2019-06-03 14:55:37
9,2421.0,Pirogovi plats,Pirogovi plats,17.10,000,NaN,2019-06-03 13:14:54,2019-06-03 14:56:29
10,2290.0,Lossi,Tulbi,2.04,1981,381,2019-06-03 13:18:52,2019-06-03 13:26:50
...,...,...,...,...,...,...,...,...
84999,2514.0,Kalda tee,Kalda tee,6.82,2002,602,2021-04-30 23:52:51,2021-05-01 00:28:09
85000,2384.0,Ringtee,ERM,6.69,1973,473,2021-04-30 23:53:50,2021-05-01 00:15:46
85001,2227.0,Kalda tee,Põhja puiestee,1.22,1940,340,2021-04-30 23:53:53,2021-04-30 23:58:42
85002,2537.0,Põhja puiestee,Sõpruse sild,2.35,000,NaN,2021-04-30 23:54:30,2021-05-01 00:02:03
85003,2419.0,Kivilinna,Orava,2.79,000,397,2021-04-30 23:54:30,2021-05-01 00:03:52

In [124]:
#sooga tabel
dataWithGender=kogudata.loc[kogudata["first3IdNumber"] != "NaN"]
male=["1","3","5"]
dataWithGender["male"]=dataWithGender.apply(lambda row: 1 if row.first3IdNumber[0] in male else 0, axis=1)

<ipython-input-124-7ba7e38f0a35>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataWithGender["male"]=dataWithGender.apply(lambda row: 1 if row.first3IdNumber[0] in male else 0, axis=1)

,cyclenumber,startstationname,endstationname,length,yearOfBirth,first3IdNumber,unlocktime,locktime,male
5,2290.0,Pirogovi plats,Lossi,1.53,1995,395,2019-06-03 12:55:24,2019-06-03 13:06:37,1
10,2290.0,Lossi,Tulbi,2.04,1981,381,2019-06-03 13:18:52,2019-06-03 13:26:50,1
11,2422.0,Pirogovi plats,Pirogovi plats,1.95,1982,382,2019-06-03 16:03:12,2019-06-03 16:10:45,1
12,2359.0,Pirogovi plats,Pirogovi plats,5.28,2006,506,2019-06-03 16:11:00,2019-06-03 16:48:02,1
13,2075.0,Pirogovi plats,Pirogovi plats,7.02,000,506,2019-06-03 16:49:42,2019-06-03 17:40:41,1
...,...,...,...,...,...,...,...,...,...
84997,2059.0,Torni,Sõbra,5.05,000,499,2021-04-30 23:52:40,2021-05-01 00:24:04,0
84999,2514.0,Kalda tee,Kalda tee,6.82,2002,602,2021-04-30 23:52:51,2021-05-01 00:28:09,0
85000,2384.0,Ringtee,ERM,6.69,1973,473,2021-04-30 23:53:50,2021-05-01 00:15:46,0
85001,2227.0,Kalda tee,Põhja puiestee,1.22,1940,340,2021-04-30 23:53:53,2021-04-30 23:58:42,1
85003,2419.0,Kivilinna,Orava,2.79,000,397,2021-04-30 23:54:30,2021-05-01 00:03:52,1

In [97]:
# 2021 tabeli peal proovimiseks 
x= pd.read_csv("2021.csv", sep=',', header=0)
x['unlocktime'] = x.apply(lambda row: row.unlockedat.strip() +"/"+ row.unlockedattime.strip(), axis=1)
x['locktime'] = x.apply(lambda row: row.lockedat.strip() +"/"+ row.lockedattime.strip(), axis=1)
x=x.drop(columns=["startstationserialnumber","endstationserialnumber","unlockedat","unlockedattime","lockedat","lockedattime"])

x['unlocktime']  = pd.to_datetime(x['unlocktime'] ,errors='coerce', format="%Y-%m-%d/%H:%M:%S")
x['locktime']  = pd.to_datetime(x['locktime'] ,errors='coerce', format="%Y-%m-%d/%H:%M:%S")

x['first3IdNumber'] = x['first3IdNumber'].fillna("NaN")
# Määra sünniaasta andmetüübiks 'sõne'.
x['yearOfBirth'] = x['yearOfBirth'].astype(str)
# Eemalda sünniaasta lõpust '.0'.
x['yearOfBirth'] = x['yearOfBirth'].str[:-2]
x['yearOfBirth'] = x['yearOfBirth'].replace('n', '000')
# Eemalda ID-kaardi numbrid, mille pikkus on lühem kui 3.
x = x.drop(x[x['first3IdNumber'].str.len() != 3].index)
# Eemalda ID-kaardi numbrid, mis ei kuulu massiivi kaardi esimese numbri põhjal.
synNr = ['N','1','2','3','4','5','6']
x = x.drop(x[~x['first3IdNumber'].str[0].isin(synNr)].index)
# Eemalda üksik kirje
x = x.drop(x[x['first3IdNumber'] == '3ü1'].index)
# ID-kaardi põhjal sünniaasta genereerimine


x.loc[((x['first3IdNumber'].str[0] == '1') | (x['first3IdNumber'].str[0] == '2')) & (x['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('18' + x['first3IdNumber'].str[1:])
x.loc[((x['first3IdNumber'].str[0] == '3') | (x['first3IdNumber'].str[0] == '4')) & (x['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('19' + x['first3IdNumber'].str[1:])
x.loc[((x['first3IdNumber'].str[0] == '5') | (x['first3IdNumber'].str[0] == '6')) & (x['yearOfBirth'].str[0] == '0'),'yearOfBirth'] = ('20' + x['first3IdNumber'].str[1:])

x[['yearOfBirth', 'first3IdNumber']].loc[(x['yearOfBirth'].str[2:4] != x['first3IdNumber'].str[1:]) & ((x['yearOfBirth'].str[:3] != '000') & (x['first3IdNumber'] != 'NaN'))]

      yearOfBirth first3IdNumber
64           2004            505
113          1982            381
127          2001            503
258          2000            503
295          1982            381
...           ...            ...
84896        2002            504
84920        2002            607
84972        1997            507
84974        1997            507
84985        2000            502

[1795 rows x 2 columns]

In [15]:
andmed19end = dict(data2019['endstationname'].value_counts())
andmed19sta = dict(data2019['startstationname'].value_counts())

andmed21end = dict(data2021['endstationname'].value_counts())
andmed21end

andmed20end = dict(data2020['endstationname'].value_counts())
andmed21end

,cyclenumber,unlockedat,unlockedattime,lockedat,lockedattime,startstationserialnumber,startstationname,endstationserialnumber,endstationname,yearOfBirth,first3IdNumber
length,,,,,,,,,,,
0.00,62518,62518,62518,62518,62518,62518,62518,58479,62518,33951,47992
0.01,15571,15571,15571,15571,15571,15571,15571,15523,15571,8539,11727
0.02,5394,5394,5394,5394,5394,5394,5394,5385,5394,2928,4067
0.03,3804,3804,3804,3804,3804,3804,3804,3784,3804,2027,2895
0.04,3546,3546,3546,3546,3546,3546,3546,3542,3546,1819,2753
0.05,2450,2450,2450,2450,2450,2450,2450,2444,2450,1275,1945
0.06,2158,2158,2158,2158,2158,2158,2158,2149,2158,1131,1658
0.07,2133,2133,2133,2133,2133,2133,2133,2130,2133,1121,1658
0.08,1325,1325,1325,1325,1325,1325,1325,1323,1325,691,1011
0.09,1180,1180,1180,1180,1180,1180,1180,1176,1180,620,910
0.10,1211,1211,1211,1211,1211,1211,1211,1197,1211,624,921
0.11,930,930,930,930,930,930,930,924,930,476,701
0.12,922,922,922,922,922,922,922,919,922,490,693
0.13,973,973,973,973,973,973,973,963,973,476,719
0.14,746,746,746,746,746,746,746,742,746,409,583
0.15,715,715,715,715,715,715,715,712,715,407,573
0.16,983,983,983,983,983,983,983,971,983,561,789
0.17,1165,1165,1165,1165,1165,1165,1165,1154,1165,639,926
0.18,1050,1050,1050,1050,1050,1050,1050,1046,1050,579,847
0.19,1036,1036,1036,1036,1036,1036,1036,1030,1036,571,831